.media-icon {
  height: 10em;
  weight: 10em;
}
.media-button {
  display: block;
  margin: auto;
  width: 110px;
  height: 30px;
  background-color: #ff8000;
  border: 0;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}
.media-table {
  table-layout: fixed;
  overflow: hidden;
  width: 700px;
  text-align: center;
}
.media-computer {
  display: block;
  margin: auto;
  text-align: center;
}
.media-input {
  padding: 10px;
  margin:10px 0;
  border-radius:10px;
  border: 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
.small-button {
  background-color: #ff8000;
  border: 0;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
}