<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create a Color Game</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <script type="text/javascript" th:src="@{/js/node_modules/jquery/dist/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/node_modules/jcanvas/dist/jcanvas.js}"></script>
  <script type="text/javascript" th:src="@{/js/config/properties.js}"></script>
  <script type="text/javascript" th:src="@{/js/canvas-modifier.js}"></script>
</head>
<body>
<div>
  <table class="media-table">
    <tr>
      <td><div class='media-computer'><h2>Create a Color</h2></div></td>
    </tr>
    <tr>
      <td>
        <div class="media-computer">
          <p><strong>Instructions: </strong>Enter RGB(Red, Green, Blue) combination to create a unique color!<br><strong>Note: </strong> Valid values: From 0 to 255</p>
        </div>
      </td>
    </tr>
  </table>
  <br/>
  <table class="media-table">
    <tr>
      <td>
        <form action="#">
          <label for="red">Red:</label>
          <input class="media-input" type="number" id="red" name="red" min="0" max="255" value="0">
          <label for="green">Green:</label>
          <input class="media-input" type="number" id="green" name="green" min="0" max="255" value="0">
          <label for="blue">Blue:</label>
          <input class="media-input" type="number" id="blue" name="blue" min="0" max="3" value="0">
          <a class="small-button" data-guid="gun-button" href="#" onclick="updateCanvasColor();">Go!</a>
        </form>
      </td>
    </tr>
    <br/>
    <tr>
      <td><canvas id="canvas"/></td>
    </tr>
  </table>
</div>
</body>
</html>