<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Giphy Game</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div>
  <table class="media-table">
    <tr>
      <td><div class='media-computer'><h2>Giphy Search</h2></div></td>
    </tr>
    <tr>
      <td><div class="media-computer"><p><strong>Instructions: </strong>Enter a keyword to get a funny GiF!</p></div></td>
    </tr>
  </table>
  <br/>
  <table class="media-table">
    <tr>
      <td>
        <form action="#">
          <label for="keyword">Keyword:</label>
          <input class="media-input" type="text" id="keyword" name="Keyword">
          <a class="small-button" data-guid="gun-button" href="#">Send</a>
        </form>
      </td>
    </tr>
  </table>
</div>
</body>
</html>