<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess a Number Game</title>
</head>
<body>
<div>
    <table class="media-table">
        <tr>
            <td><div class='media-computer'><h2>Guess a Number</h2></div></td>
        </tr>
        <tr>
            <td>
                <div class="media-computer">
                    <p><strong>Instructions: </strong>Enter a number between 0 to 100<br><strong>Note: </strong> Try to do as less tries as you can to win!</p>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>