<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Games Workshop</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div>
    <table>
        <tr>
            <td><img class="media-icon" th:src="@{/img/bear.svg}"></td>
            <td><img class="media-icon" th:src="@{/img/person.svg}"></td>
            <td><img class="media-icon" th:src="@{/img/gun.svg}"></td>
        </tr>
    </table>
</div>
</body>
</html>